html {
	scroll-behavior: smooth;
}

body {
	background-image: url(Pane-dirtDark.jpg);
	background-repeat: repeat;
}

.Separator {
	background-image: url(Pane-dirtLight.jpg);
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.08);
	height: 5%;
	margin: 20px 0;
}

.Divider {
    height: 4px;
    margin: 0 auto;
    width: 100%;
    background-color: #000;
    position: relative;
    pointer-events: none;
}

.Pane-bg {
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	box-shadow: 0 0 50px rgba(11,6,4,.8),0 0 100px rgba(11,6,4,.6),0 0 500px rgba(11,6,4,.3);
	margin: auto;
	max-width: 1920px;
	text-align: top;
}

.intro {
	clear: both;
	content: "";
	display: table;
}

.columns {
	clear: both;
	content: "";
	display: flex;
}

.left-column {
	float: left;
	vertical-align: top;
	width: 54%;
}

.right-column {
	float: left;
	vertical-align: top;
	width: 45%;
}

@media screen and (max-width: 800px) {
	.columns {
		flex-direction: column-reverse;
		width: 100%;
	}
	
	.left-column {
		width: 100%;
	}
	  
	.right-column {
		margin-left: auto;
	}
}

.right-column img {
	max-width: 100%;
}

.title {
	display: block;
	margin-left: 50px;
	margin-top: 50px;
	text-align: left; 
	vertical-align: top;
}

.title h1 {
	color: white;
	display: inline;
	font-size: 4rem;
	margin-left: 30px;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
}

.class-desc {
	color: white; 
	font-size: 1.25rem;
	margin: 20px;
	text-align: left;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
	vertical-align: top;
}

h2 {
	color: white; 
	font-size: 1.75rem;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8); 
}

.class-info {
	color: white; 
	font-size: 1.25rem;
	margin: 20px;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
}

.class-info ul {
	list-style: none;
	margin: 0;
	padding-left: 40px;
}

.class-info ul li {
	color: white; 
	font-size: 1.25rem;
    position: relative;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8); 
}

.class-info ul li::before {
	background: url(bullet_sprite.png) -60px 0;
    background-repeat: no-repeat;
	content: "";
	height: 20px;
	left: -30px;
	position: absolute;
    top: 5px;
    width: 20px;
}

.class-info ul li p.li-h {
	color: #b1997f ; 
	font-size: 1.5rem;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8); 
}

.specs {
	clear: both;
	padding: 20px 0 0 0;
	text-align: center;
	width: 100%;
}

.spec-list {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	flex-shrink: 3;
	justify-content: center;
}

.spec-list-element {
	align-items: center;
	border: 2px solid #504137;
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	height: 100px;
	margin: 5px 25px;
	text-align: left;
	text-decoration: none;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
	width: 350px;
}

.spec-list-element:hover {
	border-color: #f8b700;
}

.spec-list-img {
	border: 2px solid #626567;
	border-radius: 10px;
	height: auto;
	margin: 25px;
	width: 50px;
}

.spec-list-label {
	color: #f8b700;	
}

.races {
	clear: both;
	padding: 20px 0 0 0;
	text-align: center;
	max-width: 100%;
}

.race-list {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	flex-shrink: 3;
	justify-content: center;
}

.race {
	color: white;
	font-size: 1.25rem;
	margin: 0 25px;
	text-align: center;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
	width: 140px;
}

.frame {
	border: 5px solid lightgrey;
	cursor: pointer;
	height: 130px;
	overflow: hidden;
	width: 130px;
}

.frame img {
	position: relative;
    transition: transform .2s;
}

.frame:hover img, .frame:focus img{
    transform: scale(1.2);
}

.alliance {
	border-color: blue;
}

.horde {
	border-color: red;
}

.race-label {
	margin: 20px 0;
}

.spec-desc {
	color: white;
	margin-top: 30px;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
	vertical-align: top;
	width: 100%;
}

.bg-parchment {
	background: url(AdventureMapParchmentTile.PNG) repeat;
	border: 20px solid transparent;
	border-image: url(AdventureMapBorder.PNG) 20 stretch;
}

.spec-header {
	margin: 30px;
}

.spec-separator {
	border-top: 3px solid #734d26;
	clear: both;
	margin: 5px 30px;
	opacity: .6;
}

.spec-intro {
	clear: both;
	content: "";
	display: table;
}

.spec-icon {
	float: left;
	height: 80px;
	width: 80px;
}

.spec-name {
	float: left;
	font-size: 3.5rem;
	margin-left: 30px;
}

.spec-summary {
	font-size: 1.5rem;
	margin: 30px 30px 0 0;
}

.spec-abilities {
	clear: both;
}

.spec-ability {
	clear: both;
	content: "";
	display: flex;
	margin: 30px 30px;
}

.spec-ab-icon {
	float: left;
	height: 64px;
	margin-right: 20px;
	width: 64px;
}

.role-icon-damage {
	background: url(UI-LFG-ICON-ROLES.PNG) -66px -66px;
	background-size: 250px 250px;
}

.role-icon-tank {
	background: url(UI-LFG-ICON-ROLES.PNG) 0px -66px;
	background-size: 250px 250px;
}

.role-icon-heal {
	background: url(UI-LFG-ICON-ROLES.PNG) -66px 0px;
	background-size: 250px 250px;
}

.spec-ab-text {
	float: left;
	margin-top: 16px;	
	height: 100%;
}

.spec-ab-title {
	color: white;
	font-size: 2rem;
	height: 50%;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
	vertical-align: top;
}

.spec-ab-desc {
	color: white;
	font-size: 1.25rem;
	margin-top: 10px;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
}

.spec-abilities h3 {
	font-size: 2rem;
	margin-left: 30px;
	text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
}

.micro-icon {
	height: 25px;
	vertical-align: text-bottom;
	width: 25px;
}
